@media screen and (max-width: 710px) {
	.frame {
		width: calc(710px / 2);
	}

	.modal__container {
		padding: 5px;
		padding-bottom: 10px;
		width: 80%;
	}
}

@media screen and (max-width: 430px) {
	.modal__btn {
		margin-top: 10px;
	} 

	.text-span-4 {
		font-size: 1rem;
	}
}

@media screen and (max-height: 340px) {
	.frame {
		height: calc(330px / 2);
	}
}