* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// Variables
:root {
    --primary-font-family: 'Sour Gummy', serif;
}

body {
    font-family: var(--primary-font-family);
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    border: 5px solid;
    border-radius: 10px;
    background-color: #f5f0e7;
}

.centered-content {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    flex-direction: column;
    text-align: right;
}

.small-margin-1 {
    margin-right: 10%;
}


.time-display {
    width: 7ch; // Fixed width to prevent shifting (since 00:00:00 is 6 numbers + 1 for :, 7ch is set
    text-align: right;
}

.inline {
    display: inline;
}


// Define a map for the predefined properties
$text-spans: (
  "text-span-1": (font-size: 3.2rem, line-height: 4.5rem, color: #0a5029, font-weight: 600),
  "text-span-2": (font-size: 5rem, font-weight: 600),
  "text-span-3": (font-size: 14px, font-family: var(--font-family-secondary), color: var(--color-black-1), font-weight: 400),
  "text-span-4": (font-size: 22px, font-family: var(--font-family-secondary), color: var(--color-black-1), font-weight: 500),
  "text-span-5": (font-size: 2.0rem, color: var(--color-grey-0), font-weight: 500),
  "text-span-6": (font-size: 2.3rem, color: var(--color-dark-lime-green), font-weight: 600),
);


// Loop through the map and generate classes
@each $class, $properties in $text-spans {
	.#{$class} {
	  	@each $property, $value in $properties {
			#{$property}: $value;
	  	}
	}
}

@import './media'; // Media queries must be at the bottom since everything is executed sequentially